<!DOCTYPE html>
<html>
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Open+Sans:wght@400;500;600&display=swap"
    rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'cl_styles.css' %}">


</head>





<body>

  <header>
    <div class="left-buttons">
      <button></button>
      <h1 style="margin-left: 56px;">Task Closure</h1>
    </div>

    <div class="right-buttons">
      <button class="button-images_noti" style="margin-right: -30px;"><img src="{% static 'Vector2.png' %}"></button>
      
      <button class="button-images_admin" style=" margin-right: 5px; padding-right: 20px;"><img src="{% static 'Group 8.png' %}"></button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    
    </div>
  </header>
  <div>
    <div class="sidebar">
      <a href="/product_cat_conf"><img src="{% static 'Ellipse 4.png' %}" alt="Product Category Icon"> Product Category</a>
      <a href="/"><img src="{% static 'Ellipse 4.png' %}" alt="Home Icon"> Threshold Logic</a>
      <a href="/closure_Config_view"><img src="{% static 'Ellipse 4.png' %}" alt="Services Icon"> Task Closure</a>
      <a href="/TNT_Module_View"><img src="{% static 'Ellipse 4.png' %}" alt="Clients Icon"> TNT Module</a>
      <a href="/TOAM_Module_View">
        <div class="d-flex">
          <div>
            <img src="{% static 'Ellipse 4.png' %}" alt="Contact Icon">
          </div>
          <div>Task Optimization & Assignment Module</div>
        </div>
      </a>
      <a href="/"><img src="{% static 'Ellipse 4.png' %}" alt="Con Icon"> Deploy Config</a>
    </div>
    <div class="content">
      <div class="button-container">
        <!-- <div class="tab"> -->
        <button class="tablinks" onclick="openCity(event, 'London')">Task Closure Configure</button>

      </div>


      <br><br>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="button-container_">

        <div id="London" class="tabcontent">


          <div class="button1-container">
            <button class="button-with-image blueBorder ms-auto" id="formButton1" data-toggle="modal"
              data-target="#myModal1"><span><img src="{% static 'add.png' %}" class="me-1"></span>Add New</button>
          <button class="button-with-image1"><span><img src="{% static 'Download.png' %}" class="me-1"><a href="/download/Task_Closure_Config">Download</a></button>
            <button class="button-with-image2" onclick="uploadToS3('Task_Closure_Config')"><span><img src="{% static 'Upload.png' %}" class="me-1">Upload</button>
          </div>
          <div class="table-container">
            <table class="custom-table">
                <thead>
                    <tr>
                     
                      {% for header in Task_Closure_Config_headers %}
                      <th>{{ header }}</th>
                      {% endfor %}
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                  {% for row in Task_Closure_Config_data%}
                       <tr>
                        {% for value in row %}
                          <td>
                             {{value}}
                          </td>
                         
                        {% endfor %}
                        <td>
                          <i class="fas fa-edit" id="editButton3" onclick="getSourceData_TC({{row.0}})" data-toggle="modal"
                      data-target="#modal_task_closure_form_edit" style="color: black;"></i>
                    <i class="fas fa-trash-alt" id="deleteButton5" onclick="DeleteSourceData_TC({{ row.0 }})"
                      data-toggle="modal" style="color: black;"></i>
                        </td>
                       </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="button2-container"><button class="button-image ms-auto">Validate</button></div>

          <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Add New</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                  <form id="closure_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="closure_form" name="form_identifier" value="closure_form" />
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task_id" class="label1_">Task_id</label>
                        <input class="first1" name="task_id" id="task_id" type="text" placeholder="Task_id" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task_desc" class="label1_">Task_Desc</label>
                        <input class="first1" name="task_desc" id="task_desc" type="text" placeholder="Task_Desc" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="closure_true_query" class="label1_">Closure True Query</label>
                        <input class="first1" name="closure_true_query" id="closure_true_query" type="text" placeholder="Closure True Query" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="closure_sql_query" class="label1_">Closure Sql Query</label>
                        <input class="first1" name="closure_sql_query" id="closure_sql_query" type="text" placeholder="Closure True Query" />
                      </div>
                    </div>
                    <button type="button" id="validateButton_closure" class="btn btn-info btn-lg submit_validate" data-toggle="modal"
                      {% comment %} data-target="#myModal5" {% endcomment %}
                      >Validate</button>
                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div id="submit_closure_view" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
                <button type="button" class="close" data-dismiss="modal"
                  style="border: 1px; height: 5px;">&times;</button>

              </div>
              <div class="modal-body">
                <p style="color: black;">Do you want to add new channel?</p>
                <button type="button" id="submit_button__closure" style="background-color:#736CEB; color: white;">Submit1</button>
              </div>
            </div>
          </div>
        </div>



          <div id="modal_task_closure_form_edit" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Edit</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                  <form id="task_closure_Form_edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="task_closure_Form_edit" name="form_identifier"
                      value="task_closure_Form_edit" />
                      
                    <div class="form-row">
                      <div class="form-group_thre">
                        <!-- <label for="task_no" class="label1_">Task No.</label> -->
                        <input class="first1" name="tc_task_id" id="tc_task_id" type="hidden"
                          placeholder="Task ID" />
                      </div>
                    </div>
                    
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="constraint" class="label1_">Task_Desc</label>
                        <input class="first1" name="tc_Task_Desc" id="tc_Task_Desc" type="text"
                          placeholder="Task_Desc" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="category_task_allocated_with" class="label1_">Closure_True_Query</label>
                        <input class="first1" name="tc_Closure_True_Query"
                          id="tc_Closure_True_Query" type="text"
                          placeholder="Closure_True_Query" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="tc_closure_sql_query" class="label1_">Closure SQL Query</label>
                        <input class="first1" name="tc_closure_sql_query" id="tc_closure_sql_query" type="text" placeholder="Closure True Query" />
                      </div>
                    </div>
                    <button type="submit" id="validateButton_threshold_logic_config"
                      class="btn btn-info btn-lg submit_validate" data-toggle="modal"
                      data-form-id="modal_task_closure_form">Submit</button>
                  </form>
                </div>
              </div>
            </div>
      </div>
    </div>

  </div>



  <div>
  </div>

  </div>
  </div>



  <div id="error_closure" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p style="color: black;">Error in validation, please check input values</p>
              <button type="button" id="error_button__threshold_logic_config" style="background-color: red; color: white;">OK</button>
          </div>
      </div>
  </div>
  </div>


  <script>
    function openCity(evt, cityName) {

      var i, tabcontent, tablinks;


      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }


      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }


      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }







    {% comment %} $(document).ready(function () {
      $('#validateButton_closure').on('click', function (event) {
          event.preventDefault(); // Prevent the default form submission
          var formData = $('#closure_form').serialize();
          formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
          $.ajax({
              type: 'GET',
              url: '/api/validate_thresold_config_df/',
              data: formData,
              dataType: 'json',
              success: function (response) {
                  if (response.is_valid) {
                      // Handle success (e.g., update UI, show a message)
                      $('#submit_closure_view').modal('show');
                  } else {
                      // Handle validation errors (e.g., display error messages)
                      $('#error_closure').modal('show');
                  }
              },
              error: function (xhr, status, error) {
                  console.error('AJAX request failed with error:', error);
                  alert('Internal Server Error. Please check the server logs for details.');
              }
          });
      });
  });  {% endcomment %}


$(document).ready(function () {
  $('#validateButton_closure').on('click', function (event) {
    event.preventDefault(); // Prevent the default form submission
    var formData = $('#closure_form').serialize();
    formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
    $.ajax({
      type: 'GET',
      url: '/api/validate_thresold_config_df/',
      data: formData,
      dataType: 'json',
      success: function (response) {
        if (response.is_valid) {
          // Handle success (e.g., update UI, show a message)
          $('#submit_closure_view').modal('show');
        } else {
          // Show the errors in the error modal
          $('#error_closure .modal-body p').html(response.errors.join('<br>'));
          $('#error_closure').modal('show');
        }
      },
      error: function (xhr, status, error) {
        console.error('AJAX request failed with error:', error);
        alert('Internal Server Error. Please check the server logs for details.');
      }
    });
  });
});






$(document).ready(function () {
    $('#submit_button__closure').on('click', function () {
        $('#closure_form').submit();
    });
});


$(document).ready(function() {
  $('#error_button__threshold_logic_config').on('click', function() {
    $('#error_closure').modal('hide');
  });
});













function getSourceData_TC(rowId) {

$(document).ready(function () {
  var apiUrl = `api/task_closure_get_data/${rowId}`;
  $.ajax({
    url: apiUrl,
    type: 'GET',
    dataType: 'json',
    success: function (data) {
      console.log(data);
      document.getElementById("tc_task_id").value = rowId
      document.getElementById("tc_Task_Desc").value = data.Task_Desc
      document.getElementById("tc_Closure_True_Query").value = data.Closure_True_Query
      document.getElementById("tc_closure_sql_query").value = data.Closure_SQL_Query
    }
  });
});

}

function DeleteSourceData_TC(row_id) {
fetch(`api/task_closure_delete/${row_id}/`, {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
})
  .then(response => {
    if (!response.ok) {
      if (response.status === 404) {
        // Show errorDiv if object not found
        document.getElementById('errorDiv').style.display = 'block';
      } else {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
    } else {
      // Show successDiv on successful deletion
      alert(`Row ${row_id} deleted successfully`);
      $('#myModal_delete_AP').modal('show');
      return response.json();
    }
  })
  .catch(error => {
    // Handle other errors
    console.error('Error deleting data:', error);
    // Show errorDiv on other errors
    document.getElementById('errorDiv').style.display = 'block';
  });
}


function uploadToS3(sheetName) {
    // Make a GET request to the server endpoint with the sheet name
    fetch(`/upload/${sheetName}/`, {
        method: 'GET',
        headers: {
            // No need for 'Content-Type' header in GET requests
            // 'Content-Type': 'application/json',
            // Add any other headers if needed
        },
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response from the server
        if (data.is_valid) {
            // Show success alert
            alert('Uploaded successfully');
        } else {
            // Show failure alert
            alert('Upload failed');
        }
        // Add any additional logic or UI updates based on the response
    })
    .catch(error => {
        // Handle errors
        console.error('Error:', error);
        // Show an error alert or handle the error in another way
        alert('Error uploading data. Please try again.');
    });
  };

  </script>

</body>

</html>