<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Open+Sans:wght@400;500;600&display=swap"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'tl_styles.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">


</head>


<body>
<header>
    <div class="left-buttons">
        <button></button>
        <h1 style="margin-left: 56px;">Threshold Logic</h1>
    </div>

    <div class="right-buttons">
      {% comment %} <button class="button-images_noti" style="margin-right: -30px;"><img src="{% static 'Vector2.png' %}"></button> {% endcomment %}
      
      {% comment %} <button class="button-images_admin" style=" margin-right: 5px; padding-right: 20px;"><img src="{% static 'Group 8.png' %}"></button> {% endcomment %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

</header>

<style>
  /* Style for success messages */
.success-message {
    color: green;
}
 
/* Style for error messages */
.error-message {
    color: red;
}

.hand-cursor {
    cursor: pointer;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 24px;
    border: 1px solid #736CEB;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    display: none;
    transition: transform 0.4s, top 0.4s;
}
.showPopup{
  display: block;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup p{
  margin-bottom: 24px;
}
.btn{
  padding: .5rem 1.2rem;
}
.update{
  background-color: #736CEB !important;
}
.update:hover{
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}



</style>


  <div>
    <div class="sidebar">
      <a href="/product_cat_conf"><img src="{% static 'Ellipse 4.png' %}" alt="Product Category Icon"> Product Category</a>
      <a href="/"><img src="{% static 'Ellipse 4.png' %}" alt="Home Icon"> Threshold Logic</a>
      <a href="/closure_Config_view"><img src="{% static 'Ellipse 4.png' %}" alt="Services Icon"> Task Closure</a>
      <a href="/TNT_Module_View"><img src="{% static 'Ellipse 4.png' %}" alt="Clients Icon"> TNT Module</a>
      <a href="/TOAM_Module_View">
        <div class="d-flex">
          <div>
            <img src="{% static 'Ellipse 4.png' %}" alt="Contact Icon">
          </div>

          <div>Task Optimization & Assignment Module</div>
        </div>
      </a>
      {% comment %} <a href="./deploy.html"><img src="{% static 'Ellipse 4.png' %}" alt="Con Icon"> Deploy Config</a> {% endcomment %}
    </div>

    <div class="content">

      <div class="button-container">
        <!-- <div class="tab"> -->
        <button class="tablinks" onclick="openCity(event, 'Threshold_Logic_Config_visible')">Threshold Logic
          Config</button>
        <button class="tablinks" onclick="openCity(event, 'Trigger_Threhold_by_Business_visible')">Trigg Thres by
          Business</button>
        <!-- <button class="tablinks" onclick="openCity(event, 'Segment_thres1_output_visible')">Segment thres1
          output</button> -->
        {% comment %} <button class="tablinks" onclick="openCity(event, 'Default_Channel_Trigg_thres_visible')">Default Channel Trigg
          thres</button> {% endcomment %}

      </div>
      <br><br>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      <!-- Confirmation Popup  -->
    <div class="popup" id="popup">
      <p>Do you want to update?</p>
      <button class="btn btn-outline-danger cancel me-4" onclick="closePopup()">Cancel</button>
      {% comment %} <button class="btn btn-primary update" onclick="uploadToS3('Threshold_Logic_Config')">Yes, Update</button> {% endcomment %}
    </div>

    


      <div id="Threshold_Logic_Config_visible" class="tabcontent">
        <div class="button1-container">
          <button class="button-with-image blueBorder ms-auto" id="formButton1" data-toggle="modal"
            data-target="#modal_threshold_logic_config"><span><img src="{% static 'add.png' %}" class="me-1"></span>Add
            New</button>
          <!-- <button class="button-with-image1" onclick="downloadCSV('Threshold_Logic_Config')"><span><img src="{% static 'Download.png' %}" class="me-1">
              Download</button> -->
              <button class="button-with-image1"><span><img src="{% static 'Download.png' %}" class=""><a href="/download/Threshold_Logic_Config" style="color: white; text-decoration: none;">Download</a></button>
          {% comment %} <button class="button-with-image2" onclick="uploadToS3('Threshold_Logic_Config')"><span><img src="{% static 'Upload.png' %}" class="me-1">Upload</button> {% endcomment %}
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <!-- {% for header in Threshold_Logic_Config_headers %}
                <th>{{ header }}</th>
                {% endfor %} -->
                <th>Trigger ID</th>
                <th>Trigger Description</th>
                <th>Threshold Description</th>
                <th>Threshold Query Logic</th>
                <th>Operation</th>
                <th>Analysis Period</th>
                <th>Number of Thresholds Required</th>
                <th>Segment Threshold Requirement Flag</th>
                <th>FLS Threshold Requirement Flag</th>

                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for row in Threshold_Logic_Config_data %}
              <tr>
                {% for value in row %}
                <td>
                  {{value}}
                </td>

                {% endfor %}
                <td>

                  <i class="fas fa-edit hand-cursor" id="editButton3" onclick="getSourceData_TLC('{{ row.0 }}')" data-toggle="modal"
                    data-target="#modal_threshold_logic_config_edit" style="color: black;"></i>
                  <i class="fas fa-trash-alt hand-cursor" id="deleteButton5" onclick="deleteConfirmation('{{ row.0 }}')"
                    data-toggle="modal" style="color: black;"></i>

                    <div class="popup" id="deletePopup_{{ row.0 }}">
                      <p>Do you want to delete row {{row.0}}?</p>
                      <button class="btn btn-outline-danger cancel me-4" onclick="closePopup('{{ row.0 }}')">Cancel</button>
                      <button class="btn btn-primary update" onclick="DeleteSourceData_TLC('{{ row.0 }}')">Yes, Delete</button>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% comment %} <div class="button2-container"><button class="button-image ms-auto">Validate</button></div> {% endcomment %}

        <div id="modal_threshold_logic_config" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title">Add New</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <form id="Threshold_Logic_Form" data-form-id="Threshold_Logic_Form" method="post"
                  enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="form_identifier" value="Threshold_Logic_Form" />
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="trigger_id" class="label1_">Trigger_ID</label>
                      <input class="first1" id="trigger_id" name="trigger_id" type="text" placeholder="trigger_id" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="trigg_desc" class="label1_">Trigg_Desc</label>
                      <input class="first1" name="trigg_desc" type="text" placeholder="trigg_desc" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="thres_description" class="label1_">Thres_Description</label>
                      <input class="first1" name="thres_description" type="text" placeholder="thres_description" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="thres_query_logic" class="label1_">Thres_Query_Logic</label>
                      <input class="first1" name="thres_query_logic" type="text" placeholder="thres_query_logic" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="thres_query" class="label1_">Thres_Query</label>
                      <input class="first1" name="thres_query" type="text" placeholder="thres_query" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="activation_Flag" class="label1_">Activation_Flag</label>
                      <input class="first1" name="activation_flag" type="text" placeholder="activation_flag" />
                    </div>
                    <div class="form-group_thre">
                      <label for="operation" class="label1_">Operation</label>
                      <input class="first1" name="operation" type="text" placeholder="operation" />
                    </div>
                  </div>
                  <div class="form-row1">

                    <div class="form-group_thre">
                      <label for="analysis_period" class="label1_">Analysis_Period</label>
                      <input class="first1" name="analysis_period" type="text" placeholder="analysis_period" />
                    </div>
                    <div class="form-group_thre">
                      <label for="num_threshold_required" class="label1_">Num_Threshold_Required</label>
                      <input class="first1" name="num_threshold_required" type="text"
                        placeholder="num_threshold_required" />
                    </div>
                  </div>
                  <div class="form-row1">
                    <div class="form-group_thre">
                      <label for="segment_threshold_1_requirement_flag"
                        class="label1_">Segment_Threshold_1_Requirement_Flag</label>
                      <input class="first1" name="segment_threshold_1_requirement_flag" type="text"
                        placeholder="segment_threshold_1_requirement_flag" />
                    </div>
                  </div>
                  <div class="form-group_thre">
                    <label for="fls_threshold_2_requirement_flag"
                      class="label1_">FLS_Threshold_2_Requirement_Flag</label>
                    <input class="first1" name="fls_threshold_2_requirement_flag" type="text"
                      placeholder="fls_threshold_2_requirement_flag" />
                  </div>
                  <button type="button" id="validateButton_threshold_logic_config"
                    class="btn btn-info btn-lg" 
                    data-toggle="modal" style="background-color: #736CEB; color: #fff;"
                    >Validate</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>


        

        <div id="modal_threshold_logic_config_edit" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title">Edit </h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <form id="Threshold_Logic_Form_edit" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="form_identifier" value="Threshold_Logic_Form_edit" />
                  <div class="form-row">
                    <div class="form-group_thre">

                      <input class="first1" id="trigger_id_tlf"
                        name="trigger_id_tlf" placeholder="trigger_id" type="hidden" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="trigg_desc_tlf" class="label1_">Trigg_Desc</label>
                      <input class="first1" name="trigg_desc_tlf" type="text"
                        placeholder="Trigg_Desc" id="trigg_desc_tlf" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="thres_description_tlf" class="label1_">Thres_Description</label>
                      <input class="first1" name="thres_description_tlf" type="text"
                        placeholder="thres_description" id="thres_description_tlf" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="thres_query_logic_tlf" class="label1_">Thres_Query_Logic</label>
                      <input class="first1" name="thres_query_logic_tlf" type="text"
                        placeholder="thres_query_logic" id="thres_query_logic_tlf" />
                    </div>
                  </div>


                  <div class="form-row1">
                    <div class="form-group_thre">
                      <label for="operation_tlf" class="label1_">Operation</label>
                      <input class="first1" name="operation_tlf" type="text"
                        placeholder="Operation" id="operation_tlf" />
                    </div>
                    <div class="form-group_thre">
                      <label for="analysis_period_tlf" class="label1_">Analysis_Period</label>
                      <input class="first1" name="analysis_period_tlf" type="text"
                        placeholder="Analysis_Period" id="analysis_period_tlf" />
                    </div>
                    <div class="form-group_thre">
                      <label for="num_threshold_required_tlf"
                        class="label1_">Num_Threshold_Required</label>
                      <input class="first1" name="num_threshold_required_tlf" type="text"
                        placeholder="Num_Threshold_Required" id="num_threshold_required_tlf" />
                    </div>
                  </div>
                  <div class="form-row1">
                    <div class="form-group_thre">
                      <label for="segment_threshold_1_requirement_flag_tlf"
                        class="label1_">Segment_Threshold_1_Requirement_Flag</label>
                      <input class="first1" name="segment_threshold_1_requirement_flag_tlf"
                        type="text" placeholder="Segment_Threshold_1_Requirement_Flag"
                        id="segment_threshold_1_requirement_flag_tlf" />
                    </div>
                    <div class="form-group_thre">
                      <label for="fls_threshold_2_requirement_flag_tlf"
                        class="label1_">FLS_Threshold_2_Requirement_Flag</label>
                      <input class="first1" name="fls_threshold_2_requirement_flag_tlf" type="text"
                        placeholder="FLS_Threshold_2_Requirement_Flag"
                        id="fls_threshold_2_requirement_flag_tlf" />
                    </div>
                  </div>
                  <button type="submit" 
                    class="btn btn-info btn-lg" data-toggle="modal"
                    data-form-id="Threshold_Logic_Form" style="background-color: #736CEB; color: #fff;">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        
      </div>



      <div id="submit_threshold_logic_config" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p style="color: black;">Do you want to add new channel?</p>
              <button type="button" id="submit_button__threshold_logic_config"
                style="background-color:#736CEB; color: white;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      


      {% comment %} END of Threshold logic form {% endcomment %}





      <div id="Trigger_Threhold_by_Business_visible" class="tabcontent" style="z-index: -1;">
        <div class="button1-container">
          <button class="button-with-image blueBorder ms-auto" id="formButton2" data-toggle="modal"
            data-target="#modal_trigger_threshold_business"><span><img src="{% static 'add.png' %}"
                class="me-1"></span>Add New</button>
          <button class="button-with-image1"><span><img src="{% static 'Download.png' %}" class="me-1"><a href="/download/Trigg_Thres_By_Business" style="color: white; text-decoration: none;">Download</a></button>
          {% comment %} <button class="button-with-image2" onclick="uploadToS3('Trigg_Thres_By_Business')"><span><img src="{% static 'Upload.png' %}" class="me-1">Upload</button> {% endcomment %}
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <!-- {% for header in Trigg_Thres_By_Business_headers %}
                <th>{{ header }}</th>
                {% endfor %} -->

                <th>ID</th>
                <th>Channel</th>
                <th>Subchannel</th>
                <th>Channel Subchannel ID</th>
                <th>Demo Segment</th>
                <th>Value Segment</th>
                <th>Demo Segment Value Segment ID</th>
                <th>Trigger ID</th>
                <th>Trigger Description</th>
                <th>Segment Threshold</th>
                <th>FLS Avg Threshold</th>

                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for row in Trigg_Thres_By_Business_data %}
              <tr>
                {% for value in row %}
                <td>
                  {{value}}
                </td>
                {% endfor %}
                <td>
                  <i class="fas fa-edit hand-cursor" id="editButton3" onclick="getSourceData_TTB('{{ row.0 }}')" data-toggle="modal"
                    data-target="#modal_trigger_threshold_business_tlf" style="color: black;"></i>
                  <i class="fas fa-trash-alt hand-cursor" id="deleteButton5" onclick="deleteConfirmation2('{{ row.0 }}')"
                    data-toggle="modal" data-target="#myModal_delete_TTB" style="color: black;"></i>

                    <div class="popup" id="deletePopup2_{{ row.0 }}">
                      <p>Do you want to delete row {{ row.0 }}?</p>
                      <button class="btn btn-outline-danger cancel me-4" onclick="closePopup2('{{ row.0 }}')">Cancel</button>
                      <button class="btn btn-primary update" onclick="DeleteSourceData_TTB('{{ row.0 }}')">Yes, Delete</button>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% comment %} <div class="button2-container"><button class="button-image ms-auto">Validate</button></div> {% endcomment %}

        



        <div id="modal_trigger_threshold_business" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title">Add New</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <form id="Trigger_Threhold_by_Business_Form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" id="Trigger_Threhold_by_Business_Form" name="form_identifier"
                    value="Trigger_Threhold_by_Business_Form" />
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="channel" class="label1_">Channel</label>
                      <input class="first1" name="channel" id="channel" type="text" placeholder="Channel" />
                    </div>
                    <div class="form-group_thre">
                      <label for="subchannel" class="label1_">Subchannel</label>
                      <input class="first1" name="subchannel" id="subchannel" type="text" placeholder="Subchannel" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="channel_subchannel_id" class="label1_">Channel_Subchannel_ID</label>
                      <input class="first1" name="channel_subchannel_id" id="channel_subchannel_id" type="text"
                        placeholder="Channel_Subchannel_ID" />
                    </div>
                    <div class="form-group_thre">
                      <label for="demoseg" class="label1_">DemoSeg</label>
                      <input class="first1" name="demoseg" id="demoseg" type="text" placeholder="DemoSeg" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="valueseg" class="label1_">ValueSeg</label>
                      <input class="first1" name="valueseg" id="valueseg" type="text" placeholder="ValueSeg" />
                    </div>
                    <div class="form-group_thre">
                      <label for="demoseg_valueseg_id" class="label1_">DemoSeg_ValueSeg_ID</label>
                      <input class="first1" name="demoseg_valueseg_id" id="demoseg_valueseg_id" type="text"
                        placeholder="DemoSeg_ValueSeg_ID" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="trigger_id" class="label1_">Trigger_id</label>
                      <input class="first1" name="trigger_id" id="trigger_id" type="text" placeholder="trigger_id" />
                    </div>

                    <div class="form-group_thre">
                      <label for="trigg_description" class="label1_">Trigg_Description</label>
                      <input class="first1" name="trigg_description" id="trigg_description" type="text"
                        placeholder="Trigg_Description" />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="segment_threshold_1" class="label1_">Segment_Threshold_1_</label>
                      <input class="first1" name="segment_threshold_1" id="segment_threshold_1" type="text"
                        placeholder="Segment_Threshold_1_" />
                    </div>
                    <div class="form-group_thre">
                      <label for="flavg_threshold" class="label1_">FLSAvg_Threshold</label>
                      <input class="first1" name="flavg_threshold" id="flavg_threshold" type="text"
                        placeholder="FLSAvg_Threshold_" />
                    </div>
                  </div>

                  <button type="button" id="validateButton_trigger_threshold_business"
                    class="btn btn-info btn-lg " style="background-color: #736CEB; color: #fff;" style="background-color: #736CEB; color: #fff;"
                    {% comment %} data-toggle="modal"  {% endcomment %}
                    {% comment %}
                    data-target="#submit_trigger_threshold_business" {% endcomment %} {% comment %}
                    data-form-id="Trigger_Threhold_by_Business_Form" {% endcomment %}>Validate</button>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div id="modal_trigger_threshold_business_tlf" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title">Edit</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <form id="Trigger_Threhold_by_Business_Form_edit" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" id="Trigger_Threhold_by_Business_Form_edit" name="form_identifier"
                    value="Trigger_Threhold_by_Business_Form_edit" />
                  <input type="hidden" id="id_ttb"
                    name="id_ttb" value="id_ttb" />
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="channel_ttb" class="label1_">Channel</label>
                      <input class="first1" name="channel_ttb"
                        id="channel_ttb" type="text" placeholder="Channel" />
                    </div>
                    <div class="form-group_thre">
                      <label for="subchannel_ttb"
                        class="lable1_">Subchannel</label>
                      <input class="first1" name="subchannel_ttb"
                        id="subchannel_ttb" type="text" placeholder="Subchannel" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="channel_subchannel_id_ttb"
                        class="label1_">Channel_Subchannel_ID</label>
                      <input class="first1" name="channel_subchannel_id_ttb"
                        id="channel_subchannel_id_ttb" type="text"
                        placeholder="Channel_Subchannel_ID" />
                    </div>
                    <div class="form-group_thre">
                      <label for="demoseg_ttb" class="label1_">DemoSeg</label>
                      <input class="first1" name="demoseg_ttb"
                        id="demoseg_ttb" type="text" placeholder="DemoSeg" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="valueseg_ttb" class="label1_">ValueSeg</label>
                      <input class="first1" name="valueseg_ttb"
                        id="valueseg_ttb" type="text" placeholder="ValueSeg" />
                    </div>
                    <div class="form-group_thre">
                      <label for="demoseg_valueseg_id_ttb"
                        class="lable1_">DemoSeg_ValueSeg_ID</label>
                      <input class="first1" name="demoseg_valueseg_id_ttb"
                        id="demoseg_valueseg_id_ttb" type="text"
                        placeholder="DemoSeg_ValueSeg_ID" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="trigger_id_ttb"
                        class="label1_">Trigger_id</label>
                      <input class="first1" name="trigger_id_ttb"
                        id="trigger_id_ttb" type="text" placeholder="trigger_id" />
                    </div>

                    <div class="form-group_thre">
                      <label for="trigg_description_ttb"
                        class="lable1_">Trigg_Description</label>
                      <input class="lable1_" name="trigg_description_ttb"
                        id="trigg_description_ttb" type="text"
                        placeholder="Trigg_Description" />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group_thre">
                      <label for="segment_threshold_1_ttb"
                        class="label1_">Segment_Threshold_1_</label>
                      <input class="first1" name="segment_threshold_1_ttb"
                        id="segment_threshold_1_ttb" type="text"
                        placeholder="Segment_Threshold_1_" />
                    </div>
                    <div class="form-group_thre">
                      <label for="flavg_threshold_ttb"
                        class="label1_">FLSAvg_Threshold</label>
                      <input class="first1" name="flavg_threshold_ttb"
                        id="flavg_threshold_ttb" type="text"
                        placeholder="FLSAvg_Threshold_" />
                    </div>
                  </div>

                  <button type="submit" id=""
                    class="btn btn-info btn-lg " style="background-color: #736CEB; color: #fff;" data-toggle="modal"
                    data-form-id="Trigger_Threhold_by_Business_Form">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        

        <div id="submit_trigger_threshold_business" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
                <button type="button" class="close" data-dismiss="modal"
                  style="border: 1px; height: 5px;">&times;</button>
              </div>
              <div class="modal-body">
                <p style="color: black;">Do you want to add new channel?</p>
                <button type="button" id="submit_trigger_threshold_business_submit"
                  style="background-color:#736CEB; color: white;">Submit</button>
              </div>
            </div>

          </div>
        </div>
    
       

        <div id="error_threshold_logic_config" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p style="color: black;">Error in validation, please check input values</p>
                <button type="submit" id="error_button__threshold_logic_config"
                  style="background-color: red; color: white;">OK</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
      </div>
      </div>
      </div>
      </div>



  <div id="error_threshold_logic_config" style="z-index: 1;" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p style="color: black;">Error in validation, please check input values</p>
              <button type="button" id="error_button__threshold_logic_config" style="background-color: red; color: white;">OK</button>
          </div>
      </div>
  </div>
  </div>














  <script>

    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";


      if (event) {
        event.preventDefault();
      }
    }

    let popup = document.getElementById("popup");
    let deletePopup = document.getElementById("deletePopup");
    let deletePopup2 = document.getElementById("deletePopup2");

    function updateConfirmation(){
      popup.classList.add("showPopup")
    }

    function deleteConfirmation(rowId){
      var deletePopup = document.getElementById("deletePopup_" + rowId);
      deletePopup.classList.add("showPopup");
    }

    function deleteConfirmation2(rowId){
      var deletePopup = document.getElementById("deletePopup2_" + rowId);
      deletePopup.classList.add("showPopup");
    }

    function closePopup(){
      var deletePopup = document.getElementById("deletePopup_" + rowId);
      deletePopup.classList.remove("showPopup")
    }


    function closePopup2(){
      var deletePopup = document.getElementById("deletePopup2_" + rowId);
      deletePopup.classList.remove("showPopup")
    }

    document.addEventListener("DOMContentLoaded", function () {
      var formButton = document.getElementById("formButton1");
      var Threshold_Logic_Form = document.getElementById("Threshold_Logic_Form");

      formButton.addEventListener("click", function () {
        Threshold_Logic_Form.style.display = (Threshold_Logic_Form.style.display === "none" || Threshold_Logic_Form.style.display === "") ? "block" : "none";
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      var formButton = document.getElementById("formButton2");
      var Trigger_Threhold_by_Business_Form = document.getElementById("Trigger_Threhold_by_Business_Form");

      formButton.addEventListener("click", function () {
        Trigger_Threhold_by_Business_Form.style.display = (Trigger_Threhold_by_Business_Form.style.display === "none" || Trigger_Threhold_by_Business_Form.style.display === "") ? "block" : "none";
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      var formButton = document.getElementById("formButton3");
      var segment_threshold_Form = document.getElementById("segment_threshold_Form");

      formButton.addEventListener("click", function () {
        segment_threshold_Form.style.display = (segment_threshold_Form.style.display === "none" || segment_threshold_Form.style.display === "") ? "block" : "none";
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      var formButton = document.getElementById("formButton4");
      var form4 = document.getElementById("form4");

      formButton.addEventListener("click", function () {
        form4.style.display = (form4.style.display === "none" || form4.style.display === "") ? "block" : "none";
      });
    });



    document.addEventListener("DOMContentLoaded", function () {
      setupModalHandling("submit3", "myModal3", "myModal7");
    });

    document.addEventListener("DOMContentLoaded", function () {
      setupModalHandling("submit4", "myModal4", "myModal8");
    });

    

    function setupModalHandling(validateButton_threshold_logic_config, modalTriggerId, modalId) {
      var validateButton_threshold_logic_config = document.getElementById(validateButton_threshold_logic_config);
      var modalTrigger = document.getElementById(modalTriggerId);
      var modal = document.getElementById(modalId);
      var closeModalButton = modal.querySelector(".close");

      validateButton_threshold_logic_config.addEventListener("click", function () {
        modalTrigger.setAttribute("hidden", true);
        modal.removeAttribute("hidden");
      });

      closeModalButton.addEventListener("click", function () {
        modal.setAttribute("hidden", true);
        modalTrigger.removeAttribute("hidden");
      });
    }






    $(document).ready(function () {
  $('#validateButton_threshold_logic_config').on('click', function (event) {
    event.preventDefault(); // Prevent the default form submission
    var formData = $('#Threshold_Logic_Form').serialize();
    formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
    $.ajax({
      type: 'GET',
      url: '/api/validate_thresold_config_df/',
      data: formData,
      dataType: 'json',
      success: function (response) {
        if (response.is_valid) {
          // Handle success (e.g., update UI, show a message)
          $('#submit_threshold_logic_config').modal('show');
        } else {
          // Handle validation errors (e.g., display error messages)
          displayErrors(response.errors);
          $('#error_threshold_logic_config').modal('show');
        }
      },
      error: function (xhr, status, error) {
        console.error('AJAX request failed with error:', error);
        alert('Internal Server Error. Please check the server logs for details.');
      }
    });
  });

  // Function to display errors in the error modal
  function displayErrors(errors) {
    var errorModalBody = $('#error_threshold_logic_config .modal-body');
    // Clear previous error messages
    errorModalBody.empty();

    // Add new error messages to the modal body
    $.each(errors, function (index, error) {
      errorModalBody.append('<p style="color: red;">' + error + '</p>');
    });

    // Add a button to close the modal
    errorModalBody.append('<button type="button" id="error_button__threshold_logic_config" ' +
      'style="background-color: red; color: white;">OK</button>');
  }

  // Click event for the OK button in the error modal
  $(document).on('click', '#error_button__threshold_logic_config', function () {
    $('#error_threshold_logic_config').modal('hide');
  });
});


    $(document).ready(function () {
      $('#submit_button__threshold_logic_config').on('click', function () {
        $('#Threshold_Logic_Form').submit();
      });
    });

    $(document).ready(function () {
      $('#error_button__threshold_logic_config').on('click', function () {
        $('#error_threshold_logic_config').modal('hide');
      });
    });




    $(document).ready(function () {
  $('#validateButton_trigger_threshold_business').on('click', function (event) {
    event.preventDefault(); // Prevent the default form submission
    var formData = $('#Trigger_Threhold_by_Business_Form').serialize();
    formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
    $.ajax({
      type: 'GET',
      url: '/api/validate_thresold_config_df/',
      data: formData,
      dataType: 'json',
      success: function (response) {
        if (response.is_valid) {
          $('#submit_trigger_threshold_business').modal('show');
        } else {
          // Show the errors in the error modal
          $('#error_threshold_logic_config .modal-body p').html(response.errors.join('<br>'));
          $('#error_threshold_logic_config').modal('show');
        }
      },
      error: function (xhr, status, error) {
        console.error('AJAX request failed with error:', error);
        alert('Internal Server Error. Please check the server logs for details.');
      }
    });
  });
});


    $(document).ready(function () {
      $('#submit_trigger_threshold_business_submit').on('click', function () {
        $('#Trigger_Threhold_by_Business_Form').submit();
      });
    });






    $(document).ready(function () {
      $('#validateButton_segment_threshold').on('click', function (event) {
        event.preventDefault(); // Prevent the default form submission
        var formData = $('#segment_threshold_Form').serialize();
        formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
          type: 'GET',
          url: '/api/validate_thresold_config_df/',
          data: formData,
          dataType: 'json',
          success: function (response) {
            if (response.is_valid) {
              // Handle success (e.g., update UI, show a message)
              $('#submit_segment_threshold_view').modal('show');
            } else {
              // Handle validation errors (e.g., display error messages)
              $('#error_threshold_logic_config').modal('show');
            }
          },
          error: function (xhr, status, error) {
            console.error('AJAX request failed with error:', error);
            alert('Internal Server Error. Please check the server logs for details.');
          }
        });
      });
    });

    $(document).ready(function () {
      $('#submit_segment_threshold').on('click', function () {
        $('#segment_threshold_Form').submit();
      });
    });






    $(document).ready(function () {
      $('#validateButton_fls_avg_thres').on('click', function (event) {
        event.preventDefault(); // Prevent the default form submission
        var formData = $('#fls_avgthres_Form').serialize();
        formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
          type: 'GET',
          url: '/api/validate_thresold_config_df/',
          data: formData,
          dataType: 'json',
          success: function (response) {
            if (response.is_valid) {
              // Handle success (e.g., update UI, show a message)
              $('#submit_fls_avg_threshold_view').modal('show');
            } else {
              // Handle validation errors (e.g., display error messages)
              $('#error_threshold_logic_config').modal('show');
            }
          },
          error: function (xhr, status, error) {
            console.error('AJAX request failed with error:', error);
            alert('Internal Server Error. Please check the server logs for details.');
          }
        });
      });
    });

    $(document).ready(function () {
      $('#submit_fls_avgthresh').on('click', function () {
        $('#fls_avgthres_Form').submit();
      });
    });




    function setupSubmitButton(buttonId, modalId, destinationUrl) {
      var submitButton = document.getElementById(buttonId);
      var validationModal = document.getElementById(modalId);

      function handleSubmitButtonClick() {
        validationModal.style.display = 'none';
        window.location.href = destinationUrl;
      }

      submitButton.addEventListener('click', handleSubmitButtonClick);
    }


    setupSubmitButton('submit_London', 'submit_threshold_logic_config', "/");
    setupSubmitButton('submit_Paris', 'submit_trigger_threshold_business', "/");
    setupSubmitButton('submit_Tokyo', 'myModal7', "/");
    setupSubmitButton('submit_india', 'myModal8', "/");

    function getSourceData_TLC(rowId) {

      $(document).ready(function () {
        var apiUrl = `api/Threshold_Logic_Config_get_data/${rowId}`;
        $.ajax({
          url: apiUrl,
          type: 'GET',
          dataType: 'json',
          success: function (data) {
            console.log(data);

            document.getElementById("trigger_id_tlf").value = rowId
            document.getElementById("trigg_desc_tlf").value = data.trigg_desc
            document.getElementById("thres_description_tlf").value = data.thres_description
            document.getElementById("thres_query_logic_tlf").value = data.thres_query_logic
            document.getElementById("operation_tlf").value = data.operation
            document.getElementById("analysis_period_tlf").value = data.analysis_period
            document.getElementById("num_threshold_required_tlf").value = data.num_thresholds_required
            document.getElementById("segment_threshold_1_requirement_flag_tlf").value = data.segment_threshold_requirement_flag
            document.getElementById("fls_threshold_2_requirement_flag_tlf").value = data.FLS_Threshold_Requirement_Flag





          }
        });
      });

    }

    function DeleteSourceData_TLC(row_id) {
      document.getElementById(`deletePopup_${row_id}`).style.display = "none";

      fetch(`api/Threshold_Logic_Config_delete/${row_id}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => {
          
          if (!response.ok) {
            if (response.status === 404) {
              // Show errorDiv if object not found
              document.getElementById('errorDiv').style.display = 'block';
            } else {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
          } else {
            // Show successDiv on successful deletion
            window.alert = function(message){
              const alert = document.createElement('div');
              const alertButton = document.createElement('button');
              alertButton.innerHTML="OK";
              alert.classList.add('popup', 'showPopup');
              alertButton.classList.add('btn', 'btn-primary');
              alert.innerHTML= `<p>${message}</p>`;
              alert.appendChild(alertButton);
              alertButton.addEventListener('click', (e)=>{
                alert.remove();
              })
              document.body.appendChild(alert);

            }
            alert(`Row ${row_id} deleted successfully`);
            $('#myModal_delete_TLC').modal('show');
            return response.json();
          }
        })
        .catch(error => {
          // Handle other errors
          console.error('Error deleting data:', error);
          // Show errorDiv on other errors
          document.getElementById('errorDiv').style.display = 'block';
        });
    }


    function DeleteSourceData_TTB(row_id) {
      document.getElementById(`deletePopup2_${row_id}`).style.display = "none";
      

      fetch(`api/Trigg_Thres_By_Business_delete/${row_id}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => {
          if (!response.ok) {
            if (response.status === 404) {
              // Show errorDiv if object not found
              document.getElementById('errorDiv').style.display = 'block';
            } else {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
          } else {
            // Show successDiv on successful deletion
            window.alert = function(message){
              const alert = document.createElement('div');
              const alertButton = document.createElement('button');
              alertButton.innerHTML="OK";
              alert.classList.add('popup', 'showPopup');
              alertButton.classList.add('btn', 'btn-primary');
              alert.innerHTML= `<p>${message}</p>`;
              alert.appendChild(alertButton);
              alertButton.addEventListener('click', (e)=>{
                alert.remove();
              })
              document.body.appendChild(alert);

            }
            alert(`Row ${row_id} deleted successfully`);
            $('#myModal_delete_TTB').modal('show');
            return response.json();
          }
        })
        .catch(error => {
          // Handle other errors
          console.error('Error deleting data:', error);
          // Show errorDiv on other errors
          document.getElementById('errorDiv').style.display = 'block';
        });
    }

    function getSourceData_TTB(rowId) {

      $(document).ready(function () {
        var apiUrl = `api/Trigg_Thres_By_Business_view/${rowId}`;
        $.ajax({
          url: apiUrl,
          type: 'GET',
          dataType: 'json',
          success: function (data) {
            console.log(data);

            document.getElementById("id_ttb").value = rowId
            document.getElementById("channel_ttb").value = data.Channel
            document.getElementById("subchannel_ttb").value = data.Subchannel
            document.getElementById("channel_subchannel_id_ttb").value = data.Channel_Subchannel_ID
            document.getElementById("demoseg_ttb").value = data.DemoSeg
            document.getElementById("valueseg_ttb").value = data.ValueSeg
            document.getElementById("demoseg_valueseg_id_ttb").value = data.DemoSeg_ValueSeg_ID
            document.getElementById("trigger_id_ttb").value = data.Trigger_id
            document.getElementById("trigg_description_ttb").value = data.Trigg_Desc
            document.getElementById("segment_threshold_1_ttb").value = data.Segment_Threshold
            document.getElementById("flavg_threshold_ttb").value = data.FLSAvg_Threshold

          }
        });
      });

    }



    function getSourceData_DCTt(rowId) {

      $(document).ready(function () {
        var apiUrl = `api/Default_Channel_Trigg_thres_data/${rowId}`;
        $.ajax({
          url: apiUrl,
          type: 'GET',
          dataType: 'json',
          success: function (data) {
            console.log(data);

            document.getElementById("Default_Channel_Trigg_thres_Form_id_tlc").value = rowId
            document.getElementById("channel_tlc").value = data.Channel
            document.getElementById("trigger_id_tlc").value = data.Trigger_id
            document.getElementById("trigg_desc_tlc").value = data.Trigg_Desc
            document.getElementById("segment_threshold_1_tlc").value = data.Segment_Threshold_1
            document.getElementById("flsavg_threshold_2_tlc").value = data.FLSAvg_Threshold_2

          }
        });
      });

    }

    function DeleteSourceData_DCTt(row_id) {
      fetch(`api/Default_Channel_Trigg_thres_delete/${row_id}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => {
          if (!response.ok) {
            if (response.status === 404) {
              // Show errorDiv if object not found
              document.getElementById('errorDiv').style.display = 'block';
            } else {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
          } else {
            // Show successDiv on successful deletion
            alert(`Row ${row_id} deleted successfully`);
            $('#myModal_delete_TTB').modal('show');
            return response.json();
          }
        })
        .catch(error => {
          // Handle other errors
          console.error('Error deleting data:', error);
          // Show errorDiv on other errors
          document.getElementById('errorDiv').style.display = 'block';
        });
    }

    function uploadToS3(sheetName) {
    // Make a GET request to the server endpoint with the sheet name
    fetch(`/upload/${sheetName}/`, {
        method: 'GET',
        headers: {
            // No need for 'Content-Type' header in GET requests
            // 'Content-Type': 'application/json',
            // Add any other headers if needed
        },
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response from the server
        if (data.is_valid) {
            // Show success alert
            alert('Uploaded successfully');
        } else {
            // Show failure alert
            alert('Upload failed');
        }
        // Add any additional logic or UI updates based on the response
    })
    .catch(error => {
        // Handle errors
        console.error('Error:', error);
        // Show an error alert or handle the error in another way
        alert('Error uploading data. Please try again.');
    });
}

// function downloadCSV(filename) {
//     // Make a GET request to the server endpoint with the sheet name
//     fetch(`download/`, {
//         method: 'POST',
//         headers: {
//             // No need for 'Content-Type' header in GET requests
//             // 'Content-Type': 'application/json',
//             // Add any other headers if needed
//             'Content-Type':'application/json'
//         },
//         body:JSON.stringify({
//           'filename':filename
//         })
//     })
//     .then(response => {
//       console.log('+++'+JSON.stringify(response))})
//     .then(data => {
//         // Handle the response from the server
//         console.log('----'+data);
//         // if (data.is_valid) {
//         //     // Show success alert
//         //     alert('Uploaded successfully');
//         // } else {
//         //     // Show failure alert
//         //     alert('Upload failed');
//         // }
//         // Add any additional logic or UI updates based on the response
//     })
//     .catch(error => {
//         // Handle errors
//         console.error('Error:', error);
//         // Show an error alert or handle the error in another way
//         alert('Error uploading data. Please try again.');
//     });
// }


  </script>





</body>

</html>