<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Open+Sans:wght@400;500;600&display=swap"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>



<link rel="stylesheet" type="text/css" href="{% static 'tnt_styles.css' %}">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>


<style>
.hand-cursor {
    cursor: pointer;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 24px;
    border: 1px solid #736CEB;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    display: none;
    transition: transform 0.4s, top 0.4s;
}
.showPopup{
  display: block;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup p{
  margin-bottom: 24px;
}
.btn{
  padding: .5rem 1.2rem;
}
.update{
  background-color: #736CEB !important;
}
.update:hover{
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}
</style>


<body>

  <header>
    <div class="left-buttons">
        <button></button>
        <h1 style="margin-left: 56px;">Task and Trigger Module</h1>
    </div>

    <div class="right-buttons">
      {% comment %} <button class="button-images_noti" style="margin-right: -30px;"><img src="{% static 'Vector2.png' %}"></button> {% endcomment %}
      
      {% comment %} <button class="button-images_admin" style=" margin-right: 5px; padding-right: 20px;"><img src="{% static 'Group 8.png' %}"></button> {% endcomment %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </header>
  <div>
    <div class="sidebar">
      <a href="/product_cat_conf"><img src="{% static 'Ellipse 4.png' %}" alt="Product Category Icon"> Product Category</a>
      <a href="/"><img src="{% static 'Ellipse 4.png' %}" alt="Home Icon"> Threshold Logic</a>
      <a href="/closure_Config_view"><img src="{% static 'Ellipse 4.png' %}" alt="Services Icon"> Task Closure</a>
      <a href="/TNT_Module_View"><img src="{% static 'Ellipse 4.png' %}" alt="Clients Icon"> TNT Module</a>
      <a href="/TOAM_Module_View">
        <div class="d-flex">
          <div>
            <img src="{% static 'Ellipse 4.png' %}" alt="Contact Icon">
          </div>

          <div>Task Optimization & Assignment Module</div>
        </div>
      </a>
      {% comment %} <a href="./deploy.html"><img src="{% static 'Ellipse 4.png' %}" alt="Con Icon"> Deploy Config</a> {% endcomment %}
    </div>
    <div class="content">
      <!-- <div class="button-container">
        <button>Threshold Logic Configuration</button>
        <button>Trigger Threshold by Business</button>
        <button>Segment Threshold Output</button>
        <button>FLS Average Threshold Output</button>
    </div> -->
      <div class="button-container">
        <!-- <div class="tab"> -->
        <button class="tablinks" onclick="openCity(event, 'London')">Channel Task Mapping</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Task Trigger Mapping</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Trigger ON Query Logic</button>

      </div>
      <!-- <div class="button1-container">
      <button class="button-with-image"></button>
      <button class="button-with-image1">Download</button>
      <button class="button-with-image2">Update</button>
   </div> -->
         <br><br>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="button-container_">

        <div id="London" class="tabcontent">
          <div class="button1-container">
            <button class="button-with-image blueBorder ms-auto" id="formButton1" data-toggle="modal"
              data-target="#myModal1"><span><img src="{% static 'add.png' %}" class="me-1"></span>Add New</button>
              <button class="button-with-image1"><span><img src="{% static 'Download.png' %}" class="me-1"><a href="/download/Channel_Task_Mapping" style="color: white; text-decoration: none;">Download</a></button>
            {% comment %} <button class="button-with-image2" onclick="uploadToS3('Channel_Task_Mapping')"><span><img src="{% static 'Upload.png' %}" class="me-1">Upload</button> {% endcomment %}
          </div>
          <div class="table-container">
            <table class="custom-table">
              <thead>
                <tr>
                  <!-- {% for header in channel_task_mapping_data_headers %}
                  <th>{{ header }}</th>
                  {% endfor %} --> 

                  <th>ID</th>
                  <th>Channel</th>
                  <th>Subchannel</th>
                  <th>DemoSeg</th>
                  <th>ValueSeg</th>
                  <th>Task</th>

                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              {% for row in channel_task_mapping_data_data %}
                   <tr>
                    {% for value in row %}
                      <td>
                         {{value}}
                      </td>
                     
                    {% endfor %}
                    <td>
                      <i class="fas fa-edit hand-cursor" id="editButton3" data-toggle="modal" onclick="getSourceData_CTM({{ row.0 }})" data-target="#channel_task_mapping_Form_edit_pop_up"
                        style="color: black;"></i>
                      <i class="fas fa-trash-alt hand-cursor" id="deleteButton5" data-toggle="modal" onclick="deleteConfirmation()" data-target="#myModal4_delete"
                        style="color: black;"></i>

                        <div class="popup" id="deletePopup">
                          <p>Do you want to delete?</p>
                          <button class="btn btn-outline-danger cancel me-4" onclick="closePopup()">Cancel</button>
                          <button class="btn btn-primary update" onclick="DeleteSourceData_CTM({{ row.0 }})">Yes, Delete</button>
                        </div>

                    </td>
                   </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
          <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Add New</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form id="channel_task_mapping_Form"  data-form-id="channel_task_mapping_Form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="channel_task_mapping_Form" />
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="channel" class="label1_">Channel</label>
                        <input class="first1" name="channel" id="channel" type="text" placeholder="Channel" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="subchannel" class="label1_">Subchannel</label>
                        <input class="first1" name="subchannel" id="subchannel" type="text" placeholder="SubChannel" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="demoseg" class="label1_">DemoSeg</label>
                        <input class="first1" name="demoseg" id="demoseg" type="text" placeholder="DemoSeg" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="valueseg" class="label1_">ValueSeg</label>
                        <input class="first1" name="valueseg" id="valueseg" type="text" placeholder="ValueSeg" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task" class="label1_">Task</label>
                        <input class="first1" name="task" id="task" type="text" placeholder="Task" />
                      </div>
                    </div>
                    <button type="button" id="validateButton_channel_task_mapping" class="btn btn-info btn-lg submit_validate" data-toggle="modal"
                      {% comment %} data-target="#myModal5" {% endcomment %}
                      >Validate</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="submit_channel_task_mapping" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
                <button type="button" class="close" data-dismiss="modal"
                  style="border: 1px; height: 5px;">&times;</button>
              </div>
              <div class="modal-body">
                <p style="color: black;">Do you want to add new channel?</p>
                <button type="button" id="submit_button__channel_task_mappping" style="background-color:#736CEB; color: white;">Submit</button>
              </div>
            </div>
          </div>
        </div>

          <div id="channel_task_mapping_Form_edit_pop_up" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Edit</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form id="channel_task_mapping_Form_edit"  data-form-id="channel_task_mapping_Form_edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="channel_task_mapping_Form_edit" />
                    <input class="first1" id="channel_task_mapping_Form_edit_pk"
                        name="channel_task_mapping_Form_edit_pk" placeholder="Trigger_id" type="hidden" />
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="channel_ctm" class="label1_">Channel</label>
                        <input class="first1" name="channel_ctm" id="channel_ctm" type="text" placeholder="Channel" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="subchannel_ctm" class="label1_">Subchannel</label>
                        <input class="first1" name="subchannel_ctm" id="subchannel_ctm" type="text" placeholder="Subchannel" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="demoseg_ctm" class="label1_">DemoSeg</label>
                        <input class="first1" name="demoseg_ctm" id="demoseg_ctm" type="text" placeholder="DemoSeg" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="valueseg_ctm" class="label1_">ValueSeg</label>
                        <input class="first1" name="valueseg_ctm" id="valueseg_ctm" type="text" placeholder="ValueSeg" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task_ctm" class="label1_">Task</label>
                        <input class="first1" name="task_ctm" id="task_ctm" type="text" placeholder="Task" />
                      </div>
                    </div>
                    <button type="submit" id="" class="btn btn-info btn-lg submit_validate" data-toggle="modal"
                      {% comment %} data-target="#myModal5" {% endcomment %}
                      >Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>







        <div id="Paris" class="tabcontent">
          <div class="button1-container">
            <button class="button-with-image blueBorder ms-auto" id="formButton2" data-toggle="modal"
              data-target="#myModal2"><span><img src="{% static 'add.png' %}" class="me-1"></span>Add New</button>
              <button class="button-with-image1"><span><img src="{% static 'Download.png' %}" class="me-1"><a href="/download/Task_Trigger_Mapping" style="color: white; text-decoration: none;">Download</a></button>
            {% comment %} <button class="button-with-image2" onclick="uploadToS3('Task_Trigger_Mapping')"><span><img src="{% static 'Upload.png' %}" class="me-1">Upload</button> {% endcomment %}
          </div>
          <div class="table-container">
            <table class="custom-table">
              <thead>
                <tr>
                 
                  <!-- {% for header in task_trigger_mapping_data_headers %}
                  <th>{{ header }}</th>
                  {% endfor %} -->

                  <th>Task ID</th>
                  <th>Task Description</th>
                  <th>Task Stage</th>
                  <th>Trigger</th>

                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              {% for row in task_trigger_mapping_data_data %}
                   <tr>
                    {% for value in row %}
                      <td>
                         {{value}}
                      </td>
                     
                    {% endfor %}
                    <td>
                      <i class="fas fa-edit hand-cursor" id="editButton3" onclick="getSourceData_TTM({{ row.0 }})" data-toggle="modal" data-target="#TTM_edit_pop_up_form"
                        style="color: black;"></i>
                      <i class="fas fa-trash-alt hand-cursor" id="deleteButton5" onclick="deleteConfirmation2()" data-toggle="modal" 
                        style="color: black;"></i>

                        <div class="popup" id="deletePopup2">
                          <p>Do you want to delete?</p>
                          <button class="btn btn-outline-danger cancel me-4" onclick="closePopup2()">Cancel</button>
                          <button class="btn btn-primary update" onclick="DeleteSourceData_TTM({{ row.0 }})">Yes, Delete</button>
                        </div>

                    </td>
                    </td>
                   </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
          <div class="button2-container"><button class="button-image ms-auto">Validate</button></div>
          
          <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Add New</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form id="task_trigger_mapping_Form"  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="task_trigger_mapping_Form" />
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task_id" class="label1_">Task_id</label>
                        <input class="first1" name="task_id" id="task_id" type="text" placeholder="Task_id" />
                      </div>
                      <div class="form-group_thre">
                        <label for="task_desc" class="label1_">Task_Desc</label>
                        <input class="first1" name="task_desc" id="task_desc" type="text" placeholder="Task_Desc" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task_stage" class="label1_">Task_Stage</label>
                        <input class="first1" name="task_stage" id="task_stage" type="text" placeholder="Task_Stage" />
                      </div>
                      <div class="form-group_thre">
                        <label for="trigger" class="label1_">Trigger</label>
                        <input class="first1" name="trigger" id="trigger" type="text" placeholder="DemoSeg" />
                      </div>
                    </div>
                    <button type="button" id="validateButton_task_trigger_mapping" class="btn btn-info btn-lg submit_validate" 
                    {% comment %} data-toggle="modal" {% endcomment %}
                      {% comment %} data-target="#myModal6" {% endcomment %}
                      >Validate</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      
        <div id="submit_task_trigger_mapping" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
                <button type="button" class="close" data-dismiss="modal"
                  style="border: 1px; height: 5px;">&times;</button>
              </div>
              <div class="modal-body">
                <p style="color: black;">Do you want to add new channel?</p>
                <button type="button" id="submit_button__task_trigger_mappping" style="background-color:#736CEB; color: white;">Submit2</button>
              </div>
            </div>
          </div>
        </div>



        <div id="TTM_edit_pop_up_form" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Edit</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form id="task_trigger_mapping_Form_edit"  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="task_trigger_mapping_Form_edit" />

                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task_id_ttm" class="label1_">Task_id</label>
                        <input class="first1" name="task_id_ttm" id="task_id_ttm" type="text" placeholder="Task_id" type="hidden"/>
                      </div>
                      <div class="form-group_thre">
                        <label for="task_desc_ttm" class="label1_">Task_Desc</label>
                        <input class="first1" name="task_desc_ttm" id="task_desc_ttm" type="text" placeholder="Task_Desc" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="task_stage" class="label1_">Task_Stage</label>
                        <input class="first1" name="task_stage_ttm" id="task_stage_ttm" type="text" placeholder="Task_Stage" />
                      </div>
                      <div class="form-group_thre">
                        <label for="trigger_ttm" class="label1_">Trigger</label>
                        <input class="first1" name="trigger_ttm" id="trigger_ttm" type="text" placeholder="DemoSeg" />
                      </div>
                    </div>
                    <button type="submit" id="validateButton_task_trigger_mapping" class="btn btn-info btn-lg submit_validate" 
                    {% comment %} data-toggle="modal" {% endcomment %}
                      {% comment %} data-target="#myModal6" {% endcomment %}
                      >Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>












        <div id="Tokyo" class="tabcontent">
          <div class="button1-container">
            <button class="button-with-image blueBorder ms-auto" id="formButton3" data-toggle="modal"
              data-target="#myModal3"><span><img src="{% static 'add.png' %}" class="me-1"></span>Add New</button>
              <button class="button-with-image1"><span><img src="{% static 'Download.png' %}" class="me-1"><a href="/download/Trigger_ON_Query" style="color: white; text-decoration: none;">Download</a></button>
            {% comment %} <button class="button-with-image2" onclick="uploadToS3('Trigger_ON_Query')"><span><img src="{% static 'Upload.png' %}" class="me-1">Upload</button> {% endcomment %}
          </div>
          <div class="table-container">
            <table class="custom-table">
              <thead>
                <tr>
                 
                  <!-- {% for header in trigger_query_logic_data_headers %}
                  <th>{{ header }}</th>
                  {% endfor %} -->

                  <th>Trigger ID</th>
                  <th>Trigger Description Discussed</th>
                  <th>Assignment Level</th>
                  <th>Iteration Level</th>
                  <th>Trigger On Query Logic</th>
                  <th>Query</th>
                
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              {% for row in trigger_query_logic_data_data %}
                   <tr>
                    {% for value in row %}
                      <td>
                         {{value}}
                      </td>
                     
                    {% endfor %}
                    <td>
                      <i class="fas fa-edit hand-cursor" id="editButton3" data-toggle="modal" onclick="getSourceData_TQL({{ row.0 }})" data-target="#TQL_edit_pop_up"
                        style="color: black;"></i>
                      <i class="fas fa-trash-alt hand-cursor" id="deleteButton5" data-toggle="modal" onclick="deleteConfirmation3()" 
                        style="color: black;"></i>

                        <div class="popup" id="deletePopup3">
                          <p>Do you want to delete?</p>
                          <button class="btn btn-outline-danger cancel me-4" onclick="closePopup3()">Cancel</button>
                          <button class="btn btn-primary update" onclick="DeleteSourceData_TQL({{ row.0 }})">Yes, Delete</button>
                        </div>

                    </td>
                   </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
          <div class="button2-container"><button class="button-image ms-auto">Validate</button></div>







          <div id="myModal3" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Add New</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                  <form id="trigger_on_query_logic_Form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="trigger_on_query_logic_Form" />
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="trigger_id" class="label1_">Trigger_id</label>
                        <input class="first1" name="trigger_id" id="trigger_id" type="text" placeholder="Trigger_id" />
                      </div>
                      <div class="form-group_thre">
                        <label for="trigger_description_discussed" class="label1_">Trigger_Description_Discussed</label>
                        <input class="first1" name="trigger_description_discussed" type="text" id="trigger_description_discussed" placeholder="Trigger_Description_Discussed" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="assignment_level" class="label1_">Assignment_level</label>
                        <input class="first1" name="assignment_level" id="assignment_level" type="text" placeholder="Assignment_level" />
                      </div>
                      <div class="form-group_thre">
                        <label for="iteration_level" class="label1_">Iteration_Level</label>
                        <input class="first1" name="iteration_level" id="iteration_level" type="text" placeholder="Iteration_Level" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="trigger_on_query_logic" class="label1_">Trigger_ON_Query_Logic</label>
                        <input class="first1" name="trigger_on_query_logic" id="trigger_on_query_logic" type="text" placeholder="Trigger_ON_Query_Logic" />
                      </div>
                      <div class="form-group_thre">
                        <label for="query" class="first1">query</label>
                        <input class="first1" name="query" id="query" type="text" placeholder="query" />
                      </div>
                    </div>
                    <button type="button" id="validateButton_trigger_on_query_logic" class="btn btn-info btn-lg submit_validate" data-toggle="modal"
                      {% comment %} data-target="#myModal7" {% endcomment %}
                      >Validate</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          <div id="myModal3_delete" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" style="font-size: 15px; color: black;">Delete</h1>
                  <button type="button" class="close" data-dismiss="modal"
                    style="border: 1px; height: 5px;">&times;</button>
                </div>
                <div class="modal-body">
                  <p style="color: black;">Are you sure want to delete trigger Id "1"?</p>
                  <button type="button" id="submit" style="background-color:#736CEB; color: white;">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="submit_trigger_on_query_logic" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
                <button type="button" class="close" data-dismiss="modal"
                  style="border: 1px; height: 5px;">&times;</button>
              </div>
              <div class="modal-body">
                <p style="color: black;">Do you want to add new channel?</p>
                <button type="button" id="submit_button__trigger_on_query_logic" style="background-color:#736CEB; color: white;">Submit3</button>
              </div>
            </div>
          </div>
        </div>






          <div id="TQL_edit_pop_up" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Edit</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                  <form id="trigger_on_query_logic_Form_edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="trigger_on_query_logic_Form_edit" />
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="trigger_id_tql" class="label1_">Trigger_id</label>
                        <input class="first1" name="trigger_id_tql" id="trigger_id_tql" type="text" type="hidden" placeholder="Trigger_id" />
                      </div>
                      <div class="form-group_thre">
                        <label for="trigger_description_discussed_tql" class="label1_">Trigger_Description_Discussed</label>
                        <input class="first1" name="trigger_description_discussed_tql" type="text" id="trigger_description_discussed_tql" placeholder="Trigger_Description_Discussed" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="assignment_level_tql" class="label1_">Assignment_level</label>
                        <input class="first1" name="assignment_level_tql" id="assignment_level_tql" type="text" placeholder="Assignment_level" />
                      </div>
                      <div class="form-group_thre">
                        <label for="iteration_level_tql" class="label1_">Iteration_Level</label>
                        <input class="first1" name="iteration_level_tql" id="iteration_level_tql" type="text" placeholder="Iteration_Level" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group_thre">
                        <label for="trigger_on_query_logic_tql" class="label1_">Trigger_ON_Query_Logic</label>
                        <input class="first1" name="trigger_on_query_logic_tql" id="trigger_on_query_logic_tql" type="text" placeholder="Trigger_ON_Query_Logic" />
                      </div>
                      <div class="form-group_thre">
                        <label for="query_tql" class="first1">query</label>
                        <input class="first1" name="query_tql" id="query_tql" type="text" placeholder="query" />
                      </div>
                    </div>
                    <button type="submit" id="validateButton_trigger_on_query_logic" class="btn btn-info btn-lg submit_validate" data-toggle="modal"
                      {% comment %} data-target="#myModal7" {% endcomment %}
                      >Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

    <!-- <div class="button2-container">
  <button class="button-image">Validate</button>
</div>  -->

    <div>
    </div>

  </div>
  </div>

  <div id="error_threshold_logic_config" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title" style="font-size: 15px; color: black;">Validate</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p style="color: black;">Error in validation, please check input values</p>
              <button type="button" id="error_button__threshold_logic_config" style="background-color: red; color: white;">OK</button>
          </div>
      </div>
  </div>
  </div>

  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    let deletePopup = document.getElementById("deletePopup");
    let deletePopup2 = document.getElementById("deletePopup2");
    let deletePopup3 = document.getElementById("deletePopup3");


    function deleteConfirmation(){
      deletePopup.classList.add("showPopup")
    }

    function deleteConfirmation2(){
      deletePopup2.classList.add("showPopup")
    }

    function deleteConfirmation3(){
      deletePopup3.classList.add("showPopup")
    }

    function closePopup(){
      deletePopup.classList.remove("showPopup")
    }
    function closePopup2(){
      deletePopup2.classList.remove("showPopup")
    }
    function closePopup3(){
      deletePopup3.classList.remove("showPopup")
    }



    $(document).ready(function () {
      $('#validateButton_channel_task_mapping').on('click', function (event) {
          event.preventDefault(); // Prevent the default form submission
          var formData = $('#channel_task_mapping_Form').serialize();
          formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
          $.ajax({
              type: 'GET',
              url: '/api/validate_thresold_config_df/',
              data: formData,
              dataType: 'json',
              success: function (response) {
                  if (response.is_valid) {
                      // Handle success (e.g., update UI, show a message)
                      $('#submit_channel_task_mapping').modal('show');
                  } else {
                      // Handle validation errors (e.g., display error messages)
                      $('#error_threshold_logic_config .modal-body p').html(response.errors.join('<br>'));
                      $('#error_threshold_logic_config').modal('show');
                  }
              },
              error: function (xhr, status, error) {
                  console.error('AJAX request failed with error:', error);
                  alert('Internal Server Error. Please check the server logs for details.');
              }
          });
      });
 });
    


    $(document).ready(function () {
      $('#submit_button__channel_task_mappping').on('click', function () {
          $('#channel_task_mapping_Form').submit();
      });
    });

    $(document).ready(function() {
      $('#error_button__threshold_logic_config').on('click', function() {
        $('#error_threshold_logic_config').modal('hide');
      });
    });



      $(document).ready(function () {
      $('#validateButton_task_trigger_mapping').on('click', function (event) {
          event.preventDefault(); // Prevent the default form submission
          var formData = $('#task_trigger_mapping_Form').serialize();
          formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
          $.ajax({
              type: 'GET',
              url: '/api/validate_thresold_config_df/',
              data: formData,
              dataType: 'json',
              success: function (response) {
                  if (response.is_valid) {
                    $('#error_threshold_logic_config .modal-body p').html(response.errors.join('<br>'));
                      // Handle success (e.g., update UI, show a message)
                      $('#submit_task_trigger_mapping').modal('show');
                  } else {
                      // Handle validation errors (e.g., display error messages)
                      $('#error_threshold_logic_config').modal('show');
                  }
              },
              error: function (xhr, status, error) {
                  console.error('AJAX request failed with error:', error);
                  alert('Internal Server Error. Please check the server logs for details.');
              }
          });
      });
    }); 

    $(document).ready(function () {
      $('#submit_button__task_trigger_mappping').on('click', function () {
          $('#task_trigger_mapping_Form').submit();
      });
    });


      $(document).ready(function () {
      $('#validateButton_trigger_on_query_logic').on('click', function (event) {
          event.preventDefault(); // Prevent the default form submission
          var formData = $('#trigger_on_query_logic_Form').serialize();
          formData += '&csrfmiddlewaretoken=' + $('input[name=csrfmiddlewaretoken]').val();
          $.ajax({
              type: 'GET',
              url: '/api/validate_thresold_config_df/',
              data: formData,
              dataType: 'json',
              success: function (response) {
                  if (response.is_valid) {
                      // Handle success (e.g., update UI, show a message)
                      $('#error_threshold_logic_config .modal-body p').html(response.errors.join('<br>'));
                      $('#submit_trigger_on_query_logic').modal('show');
                      
                  } else {
                      // Handle validation errors (e.g., display error messages)
                      $('#error_threshold_logic_config').modal('show');
                  }
              },
              error: function (xhr, status, error) {
                  console.error('AJAX request failed with error:', error);
                  alert('Internal Server Error. Please check the server logs for details.');
              }
          });
        });
    }); 

    $(document).ready(function () {
      $('#submit_button__trigger_on_query_logic').on('click', function () {
          $('#trigger_on_query_logic_Form').submit();
      });
    });









     function getSourceData_CTM(rowId) {
    $(document).ready(function () {
    var apiUrl = `api/Channel_Task_Mapping_get_data/${rowId}`;
    $.ajax({
      url: apiUrl,
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        // Display success message on the webpage
        $('#successMessage').text('Data loaded successfully!');

        // Update form fields with retrieved data
        document.getElementById("channel_task_mapping_Form_edit_pk").value = rowId;
        document.getElementById("channel_ctm").value = data.Channel;
        document.getElementById("subchannel_ctm").value = data.Subchannel;
        document.getElementById("demoseg_ctm").value = data.DemoSeg;
        document.getElementById("valueseg_ctm").value = data.ValueSeg;
        document.getElementById("task_ctm").value = data.Task;
      },
      error: function () {
        // Handle error case, display an error message or take appropriate action
        $('#errorMessage').text('Error loading data. Please try again.');
      }
    });
    });
  }




    function DeleteSourceData_CTM(row_id) {
      document.getElementById("deletePopup").style.display="none";

      fetch(`api/Channel_Task_Mapping_delete/${row_id}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => {
          if (!response.ok) {
            if (response.status === 404) {
              // Show errorDiv if object not found
              document.getElementById('errorDiv').style.display = 'block';
            } else {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
          } else {
            // Show successDiv on successful deletion
            alert(`Row ${row_id} deleted successfully`);
            $('#myModal_delete_TLC').modal('show');
            return response.json();
          }
        })
        .catch(error => {
          // Handle other errors
          console.error('Error deleting data:', error);
          // Show errorDiv on other errors
          document.getElementById('errorDiv').style.display = 'block';
        });
    }


    function getSourceData_TTM(rowId) {
    $(document).ready(function () {
    var apiUrl = `api/task_trigger_mapping_get_data/${rowId}`;
    $.ajax({
      url: apiUrl,
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        // Display success message on the webpage
        $('#successMessage').text('Data loaded successfully!');

        // Update form fields with retrieved data
        document.getElementById("task_id_ttm").value = rowId;
        document.getElementById("task_desc_ttm").value = data.Trigger_Description_Discussed;
        document.getElementById("task_stage_ttm").value = data.Task_Stage;
        document.getElementById("trigger_ttm").value = data.Trigger; // Assuming Trigger is a simple string field
      },
      error: function () {
        // Handle error case, display an error message or take appropriate action
        $('#errorMessage').text('Error loading data. Please try again.');
      }
    });
    });
  }

function DeleteSourceData_TTM(rowId) {
  document.getElementById("deletePopup2").style.display="none";

  fetch(`api/task_trigger_mapping_delete/${rowId}/`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
  })
      .then(response => {
        if (!response.ok) {
          if (response.status === 404) {
            // Show errorDiv if object not found
            document.getElementById('errorDiv').style.display = 'block';
          } else {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
        } else {
          // Show successDiv on successful deletion
          alert(`Row ${rowId} deleted successfully`);
          $('#myModal_delete_TLC').modal('show');
          return response.json();
        }
      })
      .catch(error => {
        // Handle other errors
        console.error('Error deleting data:', error);
        // Show errorDiv on other errors
        document.getElementById('errorDiv').style.display = 'block';
      });
  }






    function getSourceData_TQL(rowId) {
  $(document).ready(function () {
    var apiUrl = `api/trigger_on_query_logic_get_data/${rowId}`;
    $.ajax({
      url: apiUrl,
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        // Display success message on the webpage
        $('#successMessage').text('Data loaded successfully!');

        // Update form fields with retrieved data
        document.getElementById("trigger_id_tql").value = rowId;
        document.getElementById("trigger_description_discussed_tql").value = data.Trigger_Description_Discussed;
        document.getElementById("assignment_level_tql").value = data.Assignment_level;
        document.getElementById("iteration_level_tql").value = data.Iteration_Level; // Assuming Trigger is a simple string field
        document.getElementById("trigger_on_query_logic_tql").value = data.Trigger_ON_Query_Logic; // Assuming Trigger is a simple string field
        document.getElementById("query_tql").value = data.query; // Assuming Trigger is a simple string field
      },
      error: function () {
        // Handle error case, display an error message or take appropriate action
        $('#errorMessage').text('Error loading data. Please try again.');
      }
    });
    });
  }

  function DeleteSourceData_TQL(rowId) {
    document.getElementById("deletePopup3").style.display="none";

    fetch(`api/trigger_on_query_logic_delete/${rowId}/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        if (!response.ok) {
          if (response.status === 404) {
            // Show errorDiv if object not found
            document.getElementById('errorDiv').style.display = 'block';
          } else {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
        } else {
          // Show successDiv on successful deletion
          alert(`Row ${rowId} deleted successfully`);
          $('#myModal_delete_TLC').modal('show');
          return response.json();
        }
      })
      .catch(error => {
        // Handle other errors
        console.error('Error deleting data:', error);
        // Show errorDiv on other errors
        document.getElementById('errorDiv').style.display = 'block';
      });
  }


  

    function uploadToS3(sheetName) {
        // Make a GET request to the server endpoint with the sheet name
        fetch(`/upload/${sheetName}/`, {
            method: 'GET',
            headers: {
                // No need for 'Content-Type' header in GET requests
                // 'Content-Type': 'application/json',
                // Add any other headers if needed
            },
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response from the server
            if (data.is_valid) {
                // Show success alert
                alert('Uploaded successfully');
            } else {
                // Show failure alert
                alert('Upload failed');
            }
            // Add any additional logic or UI updates based on the response
        })
        .catch(error => {
            // Handle errors
            console.error('Error:', error);
            // Show an error alert or handle the error in another way
            alert('Error uploading data. Please try again.');
        });

      };
  </script>

</body>

</html>